<H1>Welcome To share</H1>
<form action="/users/new" method="post">
    <label for="">email</label>
    <input type="text" name="email">

    <label for="">password</label>
    <input type="password" name="password">
    <button>submit</button>
</form>